.col-md-6
  = simple_form_for @tournament do |f|
    = render 'form', f: f
    .form-group
      = button_tag type: :submit, class: 'btn btn-primary' do |f|
        => fa_icon 'floppy-o'
        | Save

.col-md-3
.col-md-3
  p=> link_to upload_to_abr_tournament_path(@tournament), class: 'btn btn-success', method: :post do |f|
    => fa_icon 'arrow-circle-up'
    | Upload to Always Be Running
  - if @tournament.abr_code
    | Uploaded to ABR with code #{@tournament.abr_code}
  p= link_to save_json_tournament_path(@tournament), class: 'btn btn-success', target: '_blank' do |f|
    => fa_icon 'arrow-circle-down'
    | Download as JSON
  





